* {
  margin: 0;
  padding: 0;
}

.mainColor {
  color: aqua;
}

.center {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: rgb(14, 5, 138);
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2::after {
  content: "WOOP!";
  background-color: goldenrod;
  font-weight: bold;
  font-size: 50%;
  color: black;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: -10px;
  right: -10px;
}
h2 {
  position: relative;
  background-color: gold;
}

ul,
ol {
  margin-left: 20px;
}
li {
  margin-left: 10px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5; /*1.5 times the font size*/
}

li {
  font-family: sans-serif;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/*
article header {
  color: brown;
}*/

/* footer p {
  font-size: 14px;
} */

#author {
  font-style: italic;
}

#foot p {
  color: #000000;
}

#foot #Copyright {
  font-style: italic;
}

.related-author {
  font-weight: bold;
  font-stretch: expanded;
  font-size: smaller;
}

.related-posts {
  list-style: none;
}

aside {
  border-top: 10px dashed;
  border-bottom: 10px dashed;
  background-color: #eee;
}

body {
  background-color: #f8f8f8;
}

li::first-letter {
  font-weight: bold;
}

li:nth-child(odd) {
  color: rgb(51, 51, 51);
}

article p:last-child {
  /* color: red; */
}

/* unvisited link */
a:link {
  color: #8400ff;
  text-decoration: underline wavy black;
}

/* visited link */
a:visited {
  color: #603e63;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
}

/* selected link */
a:active {
  color: #8400ff;
}

.author-img {
  /* float: left; */
}
