h1 {
  color: rgb(14, 5, 138);
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5; /*1.5 times the font size*/
}

li {
  font-family: sans-serif;
}

/*
article header {
  color: brown;
}*/

/* footer p {
  font-size: 14px;
} */

#author {
  font-style: italic;
}

#foot p {
  color: chartreuse;
}

#foot #Copyright {
  font-style: italic;
}

.related-author {
  font-weight: bold;
  font-stretch: expanded;
  font-size: smaller;
}

.related-posts ul {
  list-style: none;
}
